#glowy{
    animation: glow 2s linear infinite;
    font-family: 'Baloo Bhai 2', cursive;
}

@keyframes glow {
    0%, 20%, 50%, 80%, 100%{text-shadow: none;}
    40% {text-shadow: #fff -1px -1px 10px;}
}

#glitchText {
    font-family: 'Baloo Bhai 2', cursive;
}