/* *{
  border: 1px solid red;
}
 */

 * {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-family: 'Baloo Bhai 2', cursive;
}

html {
  scroll-behavior: smooth;
}

input:focus {
  background-color: aliceblue;
  color: black;

}
textarea:focus {
  background-color: aliceblue;
  color: black;
}

